{% extends 'accounts/layout.html' %} {% load static %} {% block content %}

<h1>Welcome to the Home Page</h1>
{% if user.is_authenticated %}
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
<ul>
  {% for post in object_list %}
  <li>
    <div
      style="
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        align-items: baseline;
      "
    >
      <span class="title">
        <a href="{% url 'view_post_detail' post.pk %}" class="title-link"
          >{{ post.title }}</a
        >
      </span>

      {% if request.user == post.posted_by %}
      <span>
        <a class="a-edit" href="{% url 'update_post' post.pk %}">Edit</a>
        <a class="a-delete" href="{% url 'delete_post' post.pk %}">Delete</a>
      </span>
      {% endif %}
    </div>
    <hr />
    <div style="margin: 20px 0">
      {{ post.text_content|slice:":200" }}<br />
      {{ post.posted_by }}<br />
      {{ post.created_at }}<br />
    </div>

    <form action="{% url 'like_post' post.id %}" method="post">
      {% csrf_token %}
      <div style="display: flex; justify-content: space-between">
        <div style="display: flex">
          <button type="submit">
            {% if request.user in post.likes.all %} Unlike {% else %} Like {%
            endif %}
          </button>

          <p>{{ post.likes.count }} like{{ post.likes.count|pluralize }}</p>
        </div>
        <p style="font-weight: bold">
          {{ post.share_set.count }} share{{ post.share_set.count|pluralize }}
        </p>
      </div>
    </form>
    <hr />

    <!-- Display comments -->
    <div class="comments">
      <h2>Comments</h2>
      <p>
        {{ post.comment_set.count }} comment{{ post.comment_set.count|pluralize
        }}
      </p>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
