{% extends 'accounts/layout.html' %} {% load static %} {% block content %}
<div class="container">
  <div class="card mt-4">
    <div class="card-header">
      <h2>Share Post</h2>
    </div>
    <div class="card-body">
      <p class="card-text">Are you sure you want to share this post?</p>
      <h4 class="card-title">{{ post.title }}</h4>
      <div class="card-text">
        <p>{{ post.text_content }}</p>
        {% if post.file_content %}
        <p>{{ post.file_content }}</p>
        {% endif %}
      </div>
    </div>
    <div class="card-footer">
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Share</button>
        <a href="{% url 'view_post_detail' post.pk %}" class="btn btn-secondary"
          >Cancel</a
        >
      </form>
    </div>
  </div>
</div>
{% endblock %}
