<!-- profile.html -->

{% extends 'accounts/layout.html' %} {% load static %} {% block content %}

<!-- First Row -->
<div class="row my-4">
  <div class="col-md-2">
    <div id="pro-pic">
      {% if user.profile_pic %}
      <img
        src="{{ user.profile_pic.url }}"
        alt="Profile Picture"
        class="img-fluid mx-auto"
      />
      {% else %}
      <div class="p-4 mx-auto">
        <i class="fas fa-user-circle fa-5x mx"></i>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col-md-10">
    <div id="basic-details">
      <h2>{{ user.get_full_name }}</h2>
      <p>@{{ user.username }}</p>
      <p>{{ user.headline }}</p>
      <div class="row w-50 w-md-100">
        <div class="col">
          <p class="btn btn-info">{{ user.post_count }} Posts</p>
        </div>
        <div class="col">
          <button
            type="button"
            class="btn btn-info"
            data-toggle="modal"
            data-target="#followingModal"
          >
            {{ user.following_count }} Following
          </button>
        </div>
        <div class="col">
          <button
            type="button"
            class="btn btn-info"
            data-toggle="modal"
            data-target="#followersModal"
          >
            {{ user.follower_count }} Followers
          </button>
        </div>
      </div>

      <!-- Followers Modal -->
      <div
        class="modal fade"
        id="followersModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="followersModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="followersModalLabel">
                Followers of {{ user.username }}
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table w-100 mx-auto">
                <thead>
                  <tr>
                    <th>Users</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for follow in followers %}
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-2">
                          {% if follow.follower.profile_pic %}
                          <!-- Display logo as a small rounded image -->
                          <img
                            src="{{ follow.follower.profile_pic }}"
                            alt="{{ follow.follower.username }}"
                            class="card-img-top rounded-circle"
                            style="width: 70px; height: 70px"
                          />
                          {% else %}
                          <!-- Display Font Awesome icon with rounded background -->
                          <div
                            class="rounded-circle text-center"
                            style="
                              width: 50px;
                              height: 50px;
                              background-color: black;
                            "
                          >
                            <i
                              class="fas fa-user-group"
                              style="
                                font-size: 24px;
                                color: white;
                                margin-top: 13px;
                              "
                            ></i>
                          </div>
                          {% endif %}
                        </div>
                        <div class="col-10">
                          <h6 class="mx-1">
                            <a
                              href="{% url 'profile' follow.follower.username %}"
                              >@{{ follow.follower.username }}</a
                            >
                          </h6>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <!-- Back button -->
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Back
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Following Modal -->
      <div
        class="modal fade"
        id="followingModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="followingModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="followingModalLabel">
                Following by {{ user.username }}
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <table class="table w-100 mx-auto">
                <thead>
                  <tr>
                    <th>Users</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  {% for follow in following %}
                  <tr>
                    <td>
                      <div class="row">
                        <div class="col-2">
                          {% if follow.following.profile_pic %}
                          <!-- Display logo as a small rounded image -->
                          <img
                            src="{{ follow.following.profile_pic }}"
                            alt="{{ follow.following.username }}"
                            class="card-img-top rounded-circle"
                            style="width: 70px; height: 70px"
                          />
                          {% else %}
                          <!-- Display Font Awesome icon with rounded background -->
                          <div
                            class="rounded-circle text-center"
                            style="
                              width: 50px;
                              height: 50px;
                              background-color: black;
                            "
                          >
                            <i
                              class="fas fa-user-group"
                              style="
                                font-size: 24px;
                                color: white;
                                margin-top: 13px;
                              "
                            ></i>
                          </div>
                          {% endif %}
                        </div>
                        <div class="col-10">
                          <h6 class="mx-1">
                            <a
                              href="{% url 'profile' follow.following.username %}"
                              >@{{ follow.following.username }}</a
                            >
                          </h6>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <!-- Back button -->
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Back
              </button>
            </div>
          </div>
        </div>
      </div>

      {% if user != request.user %}
      <form action="{% url 'follow_user' user.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-dark">
          {% if is_following %} Unfollow {% else %} Follow {% endif %}
        </button>
      </form>
      {% endif %}
    </div>
  </div>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a
      class="nav-link active"
      id="about-tab"
      data-toggle="tab"
      href="#about"
      role="tab"
      aria-controls="about"
      aria-selected="true"
      >About</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      id="timeline-tab"
      data-toggle="tab"
      href="#timeline"
      role="tab"
      aria-controls="timeline"
      aria-selected="false"
      >Timeline</a
    >
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" id="myTabContent">
  <div
    class="tab-pane fade show active"
    id="about"
    role="tabpanel"
    aria-labelledby="about-tab"
  >
    <!-- Second Row -->
    <div class="row mt-4">
      <div class="col">
        <div id="work">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>Position:</td>
                <td>{{ user.profile.position|default:"N/A" }}</td>
              </tr>
              <tr>
                <td>Company:</td>
                <td>{{ user.profile.company|default:"N/A" }}</td>
              </tr>
              <tr>
                <td>Education Level:</td>
                <td>{{ user.profile.education_level|default:"N/A" }}</td>
              </tr>
              <tr>
                <td>Education Field:</td>
                <td>{{ user.profile.education_field|default:"N/A" }}</td>
              </tr>
              <tr>
                <td>Experience Level:</td>
                <td>{{ user.profile.experience_level|default:"N/A" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col">
        <div id="contact">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>Gender:</td>
                {% if user.profile.gender is None %}
                <td>N/A</td>
                {% elif user.profile.gender == 0 %}
                <td>Male</td>
                {% elif user.profile.gender == 1 %}
                <td>Female</td>
                {% endif %}
              </tr>
              <tr>
                <td>Bio:</td>
                <td>{{ user.profile.bio|default:"N/A" }}</td>
              </tr>
              <tr>
                <td>Phone Number:</td>
                <td>{{ user.phone_number|default:"N/A" }}</td>
              </tr>
              <tr>
                <td>Email:</td>
                <td>{{ user.email }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div
    class="tab-pane fade"
    id="timeline"
    role="tabpanel"
    aria-labelledby="timeline-tab"
  >
    <!-- Display user-created posts -->
    <div class="card">
      <div class="card-header">User Created Posts</div>
      <ul class="list-group list-group-flush">
        {% for post in user_posts %}
        <li class="list-group-item">
          <p style="font-weight: bold; font-size: large">
            Title:
            <a href="{% url 'view_post_detail' post.pk %}">{{ post.title }}</a>
          </p>
          <p>Content: {{ post.text_content|slice:":200" }}...</p>
          <p>{{ post.file_content|slice:":200" }}...</p>
          <small>Created at: {{ post.created_at }}</small>
          {% if request.user == user %}
          <div class="btn-group" role="group" aria-label="Post Actions">
            <a href="{% url 'update_post' post.pk %}" class="btn btn-primary"
              >Edit</a
            >
            <form
              method="post"
              action="{% url 'delete_post' post.pk %}"
              class="d-inline"
            >
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>

    <!-- Display shared posts -->
    <div class="card mt-3">
      <div class="card-header">Shared Posts</div>
      <ul class="list-group list-group-flush">
        {% for share in shared_posts %}
        <li class="list-group-item">
          <p style="font-weight: bold; font-size: large">
            Title:
            <a href="{% url 'view_post_detail' share.post.pk %}"
              >{{ share.post.title }}</a
            >
          </p>
          <p>Content: {{ share.post.text_content|slice:":200" }}...</p>
          <p>{{ share.post.file_content|slice:":200" }}...</p>
          <small>Shared at: {{ share.shared_at }}</small>
          {% if request.user == user %}
          <form
            method="post"
            action="{% url 'delete_shared_post' share.pk %}"
            class="d-inline"
          >
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Unshare</button>
          </form>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
